

.btn{
   width: 100%;
   border-radius: 5px;
   padding:10px 30px;
   color:var(--white);
   display: block;
   text-align: center;
   cursor: pointer;
   font-size: 20px;
   margin-top: 10px;
}

.btn{
   background-color: var(--blue);
}

.btn:hover{
   background-color: var(--dark-blue);
}

  .name{
      color: rgb(29, 28, 28);
font-size: 12px;
text-transform: uppercase;
font-weight: 900;
  }
  
  .fa-solid{
      font-size: 40px;
      color: #289ae6;

  }
 

  .seance-cell {
    text-align: center;
    vertical-align: middle;
}





.wrapperu .boxu{
  background: pink;
  width: 400px;
 
  height: 120px;
  padding: 25px;

  box-shadow: 0px 4px 8px #289ae6;
}

.wrapperu .boxu i.quote{
  font-size: 40px;
  color: #289ae6;
}


.wrapperc .boxc{
  background: lightgreen;
  width: 400px;
 
  height: 120px;
  padding: 25px;

  box-shadow: 0px 4px 8px #289ae6;
}

.wrapperc .boxc i.quote{
  font-size: 40px;
  color: #289ae6;
}




.wrapperq .boxf{
  background: #FFFC96;
  width: 400px;
 
  height: 120px;
  padding: 25px;

  box-shadow: 0px 4px 8px #289ae6;
}

.wrapperq .boxf i.quote{
  font-size: 40px;
  color: #289ae6;
}




.name{
    color: rgb(29, 28, 28);
font-size: 12px;
text-transform: uppercase;
font-weight: 900;
}

.fa-solid{
   
  font-size: 40px;
    color: #289ae6;
}
/*----*/

.cl{
color:#fff;
}

.cl2{
background: #289ae6;
}

.cl3{
background: #D3E5F7;
}








  

