


.wrapper .sidebar{
z-index: 1;
background: #2F323A;
position: fixed;
top: 70px;
width: 250px;
height: calc(100% - 9%);
transition: 0.3s;
transition-property: width;
overflow-y: auto;
}

.wrapper .sidebar .sidebar-menu{
overflow: hidden;
}
.wrapper .sidebar .sidebar-menu .profile {
  display: flex; /* Enables flexbox */
  flex-direction: column; /* Align items vertically */
  align-items: center; /* Horizontal centering */
  justify-content: center; /* Vertical centering */
  text-align: center; /* For centering the text */
  padding: 20px; /* Optional: Adds some spacing around the profile content */
}

.wrapper .sidebar .sidebar-menu .profile img{
margin: 20px 0;
width: 100px;
height: 100px;
border-radius: 50%;
}

.wrapper .sidebar .sidebar-menu .profile p{
color: #bbb;
font-weight: 700;
margin-bottom: 10px;
}

.wrapper .sidebar .sidebar-menu .item{
width: 250px;
overflow: hidden;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn{
display: block;
color: #fff;
position: relative;
padding: 25px 20px;
transition: 0.3s;
transition-property: color;
cursor: pointer;
}
.wrapper .sidebar .sidebar-menu .item.active .menu-btn {
  color: #289ae6;
}
.wrapper .sidebar .sidebar-menu .item .menu-btn:hover{
color: #289ae6;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn i{
margin-right: 20px;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn .drop-down{
float: right;
font-size: 12px;
margin-top: 3px;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu{
background: #289ae6;


overflow: hidden;
max-height: 0;
transition: 0.3s;
transition-property:  max-height;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a{
display: block;
position: relative;
color: #fff;
white-space: nowrap;
font-size: 15px;
padding: 20px;
transition: 0.3s;

}


.wrapper .sidebar .sidebar-menu .item .sub-menu a:not(last-child){
border-bottom: 1px solid #8FC5E9;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu i{
padding-right: 20px;
font-size: 10px;
}

.wrapper .sidebar .sidebar-menu .item:target .sub-menu{
max-height: 500px;
}

.wrapper .main-container{
width: (100% - 250px);
margin-top: 70px;
margin-left: 250px;
padding: 15px;

}

.wrapper.collapse .sidebar{
width: 70px;
}

.wrapper.collapse .sidebar .profile img,
.wrapper.collapse .sidebar .profile p,
.wrapper.collapse .sidebar a span{
display: none;
}

.wrapper.collapse .sidebar .sidebar-menu .item .menu-btn{
font-size: 23px;
}

.wrapper.collapse .sidebar .sidebar-menu .item .sub-menu i{
font-size: 18px;
padding-left: 3px;
}
















