
<!--sidebar start-->
<div class="sidebar">
  <div class="sidebar-menu">
      <div class="profile">     
      <img [src]="user?.image ? 'uploaded_img/' + user.image : 'images/default-avatar.png'" alt="Profile Picture" />
        <p>{{ user.firstName || 'Nom Inconnu'}}</p>
      </div>
      <li class="item" [ngClass]="{ 'active': isActive('/home-admin') }">
        <a routerLink="/home-admin" class="menu-btn">
          <i  class="fas fa-gauge"></i><span>État du jour</span>
        </a>
      </li>
      <li class="item" [ngClass]="{ 'active': isActive('/profile') }">
        <a routerLink="/profile" class="menu-btn">
          <i  class="fas fa-user-circle"></i><span>Profile </span>
        </a>
      </li>
      <li class="item" [ngClass]="{ 'active': isActive('/archive') }">
        <a routerLink="/archive" class="menu-btn">
          <i class="fas fa-computer"></i><span>Archives </span>
        </a>
      </li>
      <li class="item" [ngClass]="{ 'active': isActive('/notifications') }">
        <a routerLink="/notifications" class="menu-btn">
          <i class="fas fa-bell"></i><span>Notifications </span>
        </a>
      </li>

    

     
  </div>
</div>
<!--sidebar end-->