<div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <img src="images/acceuil.png" alt="">
      <div class="text">
        <span class="text-1">Gestion de médicaments</span>
      </div>
      <div class="back">
        <img class="backImg" src="images/acceuil.png" alt="">
        <div class="text"></div>
      </div>
    </div>
    <div class="forms">
      <div class="form-content">
        <!-- Login Component -->
        <app-login></app-login>
  
        <!-- Register Component -->
        <app-register></app-register>
      </div>
    </div>
  </div>
  
