@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
  
  .container{
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
  }

:root{
   --blue:#3498db;
   --dark-blue:#2980b9;
   --red:#e74c3c;
   --dark-red:#c0392b;
   --black:#333;
   --white:#fff;
   --light-bg:#eee;
   --box-shadow:0 5px 10px rgba(0,0,0,.1);
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border: none;
   text-decoration: none;
}

*::-webkit-scrollbar{
   width: 10px;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--blue);
}

.message{
   margin:10px 0;
   width: 100%;
   border-radius: 5px;
   padding:10px;
   text-align: center;
   background-color: var(--red);
   color:var(--white);
   font-size: 20px;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body{
  background: #fff;
}

.wrapper.collapse .main-container{
  width: calc(100% - 70px);
  margin-left: 70px;
}

.wrapper .main-container .card{
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
}   

.bv {

  color: #289ae6;

font-size: 25px;
text-transform: uppercase;
font-weight: 900;
}
  .wrapper3 .box3{
    background: #fff;
    width: 260px;
   
    height: 100px;
    padding: 25px;
  
    box-shadow: 0px 4px 8px #289ae6;
  
    
  }
  .wrapper3 .box3 i.quote{
    font-size: 40px;
    color: #289ae6;
  
  }
  .name{
      color: rgb(29, 28, 28);
font-size: 12px;
text-transform: uppercase;
font-weight: 900;
  }
  
  .fa-solid{
      font-size: 40px;
      color: #289ae6;

  }
 
  
  .container{
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
  }
  
  
  .wrapper3 .box3{
    background: #fff;
    width: 400x;
   
    height: 120px;
    padding: 25px;
  
    box-shadow: 0px 4px 8px #289ae6;
  }
  
  .wrapper3 .box3 i.quote{
    font-size: 40px;
    color: #289ae6;
  }
  
  
  
  .wrapperu .boxu{
    background: pink;
    width: 400px;
   
    height: 120px;
    padding: 25px;
  
    box-shadow: 0px 4px 8px #289ae6;
  }
  
  .wrapperu .boxu i.quote{
    font-size: 40px;
    color: #289ae6;
  }
  
  
  .wrapperc .boxc{
    background: lightgreen;
    width: 400px;
   
    height: 120px;
    padding: 25px;
  
    box-shadow: 0px 4px 8px #289ae6;
  }
  
  .wrapperc .boxc i.quote{
    font-size: 40px;
    color: #289ae6;
  }
   
  .wrapperq .boxf{
    background: #FFFC96;
    width: 400px;
   
    height: 120px;
    padding: 25px;
  
    box-shadow: 0px 4px 8px #289ae6;
  }
  
  .wrapperq .boxf i.quote{
    font-size: 40px;
    color: #289ae6;
  }

  .name{
      color: rgb(29, 28, 28);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 900;
  }
  
  .fa-solid{
     
    font-size: 40px;
      color: #289ae6;
  }
  /*----*/
  
  .cl{
  color:#fff;
  }
  
  .cl2{
  background: #289ae6;
  }
  
  .cl3{
  background: #D3E5F7;
  }
  
  
  







  

